html, body {
	height: 100%;
	font-family: Calibri, sans-serif
}

p {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

#front-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 2fr 1fr 1fr;
	grid-template-areas:
		"title"
		"authors"
		"version"
		"copyright";

	height: 100%;
}

#front-page .book-title {
	grid-area: title;
	font-size: 4em;
}

#front-page .book-authors {
	grid-area: authors;
	font-size: 3em;
}

#front-page .book-version {
	grid-area: version;
	font-size: 1.5em;
}

#front-page .book-copyright {
	grid-area: copyright;
	font-size: 1.5em;
}

#front-page > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#front-page > div > p {
	margin: 0.2em;
	padding: 0;
}


.chapter-body {
	line-height: 1.5em;
	margin: 0.5em 0;
	text-align: justify;
	text-indent: 1em;
}

.chapter-body-separator {
	margin: 1.5em 0;
	text-align: center;
}

.chapter-hint {
	font-weight: bold;
	line-height: 1.5em;
	margin: 1em 0;
	text-align: center;
}

.character-thoughts {
	font-style: italic;
}

.dream {
	font-style: italic;
	line-height: 1.5em;
	margin: 0.5em 0;
	text-indent: 1em;
}

.journal-entry-header {
	font-style: italic;
	line-height: 1.5em;
	margin: 0.5em 0;
}

.journal-entry {
	font-style: italic;
	line-height: 1.5em;
	margin: 0.5em 0;
	text-align: justify;
	text-indent: 1em;
}

.poem {
	font-style: italic;
	line-height: 1.25em;
	text-align: center;
}
